:root { 
--indigo_A200_02:#557dea; 
--indigo_A200_01:#7672ed; 
--blue_A400:#3974e8; 
--light_green_A700:#52c41a; 
--blue_300_01:#60b2f9; 
--gray_800_02:#4e4e4e; 
--gray_800_01:#5a4146; 
--green_700:#109346; 
--gray_700_a2:#666666a2; 
--blue_200_01:#a7c4ff; 
--black_900_01:#0a0a0a; 
--yellow_800:#faad14; 
--blue_200_02:#96c5ff; 
--amber_200_01:#fde68c; 
--blue_gray_900:#263238; 
--deep_purple_A200:#8f60fa; 
--indigo_500_63:#464bc463; 
--red_A200_01:#fb5f5f; 
--gray_400:#c7c7c7; 
--black_900_0a:#0000000a; 
--blue_gray_100:#d9d9d9; 
--amber_500:#facc15; 
--blue_500:#1890ff; 
--gray_800:#484848; 
--indigo_500_5f:#464bc45f; 
--indigo_A100_02:#a3a1f3; 
--indigo_500_5e:#464bc45e; 
--black_900_0f:#0000000f; 
--indigo_A100_03:#918ef1; 
--blue_A200_6c:#3f7fff6c; 
--orange_600:#dc9600; 
--indigo_A100_04:#8084f3; 
--orange_200:#f0c087; 
--indigo_A100_01:#90acfd; 
--gray_700_04:#616161; 
--blue_100:#c3d7ff; 
--black_900_19:#00000019; 
--gray_700_02:#5b5d6e; 
--gray_700_03:#5b6270; 
--gray_700_01:#694b4b; 
--white_A700_d8:#ffffffd8; 
--blue_gray_100_01:#d3d6df; 
--indigo_200_63:#aeb2e463; 
--blue_gray_100_02:#d6d6d6; 
--red_300:#d29b6e; 
--gray_50:#fafafa; 
--deep_purple_300:#975fe4; 
--blue_A200_01:#3f7fff; 
--gray_500_01:#999999; 
--deep_orange_400:#fa6450; 
--pink_400:#d23c69; 
--indigo_100_01:#bfbbeb; 
--indigo_100_02:#c0bef7; 
--blue_gray_200:#afb9d2; 
--gray_500:#a6a6a6; 
--gray_900:#001529; 
--red_300_01:#f2637b; 
--green_50:#e5fada; 
--gray_100:#f0f2f5; 
--orange_100:#ffe0c1; 
--light_blue_100_01:#b8eaf9; 
--blue_400:#53aafa; 
--deep_orange_A100:#e6af78; 
--red_600:#dc4632; 
--light_blue_100:#abddf6; 
--red_200:#f999a4; 
--blue_A200:#3f7eff; 
--indigo_A100:#9592f1; 
--black_900_3f:#0000003f; 
--gray_700_e5:#666666e5; 
--yellow_600:#fad337; 
--green_A700:#0cb551; 
--amber_A700:#f4a701; 
--gray_200_01:#ebebeb; 
--blue_gray_700:#455a64; 
--gray_200_02:#ecebeb; 
--gray_700_cc:#666666cc; 
--gray_200_03:#ececec; 
--gray_200_04:#e8e8e8; 
--gray_600:#848484; 
--indigo_100_63:#b6b9e663; 
--blue_gray_300:#959cb5; 
--red_A200:#ff4d4f; 
--lime_900:#643800; 
--teal_A100:#a3f5ec; 
--gray_200:#f0f0f0; 
--blue_50:#ecf2ff; 
--lime_100:#f5f3b8; 
--gray_100_03:#f0f5ff; 
--indigo_400:#6b68d8; 
--gray_100_02:#f1f1fd; 
--gray_400_01:#b1afaf; 
--lime_900_01:#8c5205; 
--gray_100_01:#f7f7f7; 
--blue_300:#6599ff; 
--white_A700:#ffffff; 
--indigo_800:#23468c; 
--cyan_400:#36cbcb; 
--indigo_A200:#4474fc; 
--blue_A100:#7ea9ff; 
--deep_purple_100:#d5d3f9; 
--black_900_d8:#000000d8; 
--light_blue_800:#076cc9; 
--green_A400:#21d369; 
--white_A700_75:#ffffff75; 
--black_900:#000000; 
--indigo_500_01:#2d5ab5; 
--blue_gray_800:#37474f; 
--deep_orange_200:#f7a9a0; 
--black_900_28:#00000028; 
--black_900_26:#00000026; 
--pink_200:#ff9cbd; 
--gray_900_02:#141414; 
--gray_700:#666666; 
--white_A700_6c:#ffffff6c; 
--gray_600_02:#6b6b6b; 
--gray_600_01:#707487; 
--amber_600:#fab400; 
--gray_900_01:#222222; 
--light_blue_50:#e6f7ff; 
--amber_200:#fddf91; 
--gray_300:#e3e3e3; 
--gray_300_02:#d5dced; 
--gray_600_03:#7e7373; 
--gray_300_01:#dbdbdb; 
--orange_50:#fef6e6; 
--indigo_100:#c7cfe2; 
--indigo_900:#1a356b; 
--blue_100_01:#c1d6ff; 
--blue_200:#98d6f5; 
--blue_400_01:#3aa0ff; 
--indigo_500:#324fb5; 
--blue_400_02:#3b9df7; 
}